// Place all the styles related to the customer/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customers_back {
  background-image: image-url("back.image1.jpeg");
  background-size: cover;
  margin-bottom: 0 !important;
  min-height: 100vh;
}