
<% provide(:title, "サイトについて") %>

<body class="about">


       当サイトは服販売のECサイトです。<br>
       日本全国どこへでもお届けいたします。<br>
       これからも皆様に喜んでいただけるブランド作りを<br>
       心がけていきますので、お気に入りの商品があれば、ぜひご注文ください。</br>
       <div style="width:400px">
       <%= image_tag("IMG_4205.PNG", class:"img-fluid") %>
       </div>
</body>


