<footer>
  <ul class="footer-menu">
   <li>
     <%= link_to "home", root_path %> ｜
   </li>
   <li>
     <%= link_to "about", about_path %>
   </li>
  <p>© All rights reserved by LEVIR.</p>
  </ul>
</footer>